body {
font-family: 'Open Sans', sans-serif;
letter-spacing: 1px;
color: #7f8c8d;
}

.landing_intro {
  text-align: center;
  margin-top: 120px;
}

h3 {
  margin-top: -10px;
}

.austrocontrol {
  font-weight: 800;
  color: #c0392b;
}

.contact {
    color: #c0392b;
    margin-top: 30px;
    font-weight: 700;
}

.imprint {
  border-top: 1px solid #18AB35
  margin-top: 60px;
  padding: 60px;
}
